<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="CompanyName" value="Naresh I Technologies"/>
		<add key="Adress" value="Ameerpet,Hyderabad-38"/>
		<add key="Phone" value="Naresh I Technologies"/>
		<add key="CompanyName" value="(040) 23746666"/>
		<add key="WhatsApp" value="+91 8179191999"/>
		<add key="Email" value="m.bangarraju@gmail.com"/>
		<add key="Website" value="nareshit.com"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlConStr" connectionString="Data Source=DESKTOP-1G6BPHF;Integrated Security = SSPI; Database=CSBD" providerName="System.Data.Sqlclient"/>		
		<add name="ExcelConStr" connectionString="Provider=Microsoft.Ace.Oledb.12.0;Data Source=D:\MVC7\School.xls;Integrated Security = SSPI; Database=CSBD" providerName="System.Data.Oledb"/>		
	</connectionStrings>
</configuration>